*, *::before, ::after {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

.container-fluid {
    padding: 32px;    
}

a:hover {
    z-index: 2;
    color: #1a1e21;
    background-color: #e9ecef;
}