.nav {
    width: 296px;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.nav-link {
    padding-left: 0;    
    font-weight: $font-weight-bold;
}

.user-email {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: $gray-600;
}

.nav-link:nth-child(4) {
    color: $primary;
    &::before {
        content: "";        
        border-left: 4px solid $primary;        
        height: 32px;    
    }
}

.user-photo {
    width: 40px;    
}