.main {
    margin-left: 296px;
}

.assignment-title {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
}

.author {
    font-size: $font-size-xs;
    color: $gray-600;
    font-weight: $font-weight-normal;
}

.comment, .date {
    color: $gray-600;
    font-size: $font-size-xs;
}

.all-courses, .all {
    font-weight: $font-weight-bold;
}

.toolbar {
    height: 24px;
}

.download {
    font-family: 'Lato', sans-serif;
    font-weight: $font-weight-bold;    
}

.ck-editor__editable {
    min-height: 263px;
}
